<div class="selector">

  <span class="menu-text mr-1">Assignee:</span>
  @if (!disabled) {
    <span>
      @if (assignee) {
        <img class="user-picture m-1" [src]="assignee.picture">
      }
      <mat-form-field>
        <mat-select class="assignee-select base-text" [(value)]="assigneeId" (selectionChange)="onChangeSelection()">
          <mat-option class="assignee-select base-text" [value]="-1">Unassigned</mat-option>
          @for (user of team; track user) {
            <mat-option class="assignee-select base-text" [value]="user.id"><img class="user-picture m-1" [src]="user.picture">{{user.first_name}} {{user.last_name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </span>
  } @else {
    @if (assignee) {
      <span><img class="user-picture m-1" [src]="assignee.picture">{{assignee.first_name}} {{assignee.last_name}}</span>
    }
    @if (!assignee) {
      <span>Unassigned</span>
    }
  }
</div>
