.user-summary-card {
	margin: 3px;
}

.assigned-task-listing {
	padding-left: 12px;
}

.work-estimate {
	font-weight: bolder;
}

.unassigned-work-title {
	font-weight: bolder;
}

.unassigned-work-card {
	border-style: solid;
	border-width: 1px;
	border-color: var(--card-border);
	border-radius: 3px;

	padding: 2px;
}

.done-button {
	background-color: var(--go-button-background);
	color: var(--on-go-button-background);
	border-radius: 5px;
	border-width: 2px;
	border-color: var(--button-border);
	border-style: solid;
	box-shadow: 2px 2px var(--button-shadow);
	margin-top: 3px;
}