<ng-template #progressSpinner><mat-spinner></mat-spinner></ng-template>

<div *ngIf="epic; else progressSpinner">
	<h2>{{epic.title}}</h2>
<p class="epic-description" [innerHtml]="epic.description"></p>
<p class="banner-text"><mat-icon fontSet="fas" fontIcon="fa-tshirt"></mat-icon> Size: <sb-tshirt-size class="base-text ml-1" [size]="epic.size"></sb-tshirt-size></p>
<p class="banner-text"><mat-icon fontSet="fas" fontIcon="fa-palette"></mat-icon> Color: <mat-icon *ngIf="epic.color" class="ml-1" fontSet="fas" fontIcon="fa-circle" [ngStyle]="{'color':epic.color}" [matTooltip]="epic.color"></mat-icon>
<mat-icon *ngIf="!epic.color" class="ml-1" fontSet="far" fontIcon="fa-circle" matTooltip="No Color Set"></mat-icon></p>

<mat-card>
	<mat-card-title class="banner-text">
		Issues
	</mat-card-title>
	<mat-card-content>
		<sb-issue-list [issues]="((epicIssues | async) || {issues: { list: []}}).issues.list" fixed="true" (issueSelected)="onIssueSelected($event)"></sb-issue-list>
		<form style="display: inline; width:100%" [hidden]="!permission(epic, 'update')">
			<mat-form-field style="width:100%" #searchField>
				<input type="text"
					   class="issue-input"
					   placeholder="Add an Issue"
					   aria-label="issue"
					   matInput
					   [formControl]="issueControl"
					   [matAutocomplete]="auto" #issueInput>
				<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)" [displayWith]="issueLabel" #issueSelector>
					<mat-option *ngFor="let option of filteredIssues | async" [value]="option" [ngStyle]="{'background-color':option.epic?.color}">
						<span [ngStyle]="{'color':textColor(option.epic?.color)}">{{option.title}} <span class="current-option" *ngIf="option.epic">[Current: {{option.epic.title}}]</span></span>
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
		</form>

		<div class="mt-3">
		<h6 class="banner-text">Comments</h6>
		<div class="comments-display-box mb-1"><sb-comment-display *ngFor="let comment of epic.comments" [comment]="comment"></sb-comment-display></div>
		<sb-comment-entry [epicId]="epic.id"></sb-comment-entry>
	</div>
	</mat-card-content>
</mat-card>
</div>