.tasks {
	min-height: 30px;
}

.task-card {
	font-size: small;
	background: var(--background);
	border-radius: 5px;
	border-width: 1px;
	border-color: var(--card-border);
	border-style: solid;
	box-shadow: 2px 2px var(--card-shadow);
	padding: 3px;
	padding-left: 6px;
}

.task-card:hover {
	border-color: var(--card-border-hover);
	cursor: default;
}

/*.task-card:active {
	background-color: var(--background-hover);
}*/

.task-card-body {
	font-size: x-small;
}

.small-button {
	font-size: x-small;
}



