.tasks {
	min-height: 30px;
}

.task-card {
	font-size: small;
	background: var(--background);
	border: 2px solid var(--card-shadow);
	border-radius: 1px;
	padding: 3px;
	padding-left: 6px;
	margin-top: 1px;
}

.task-card:hover {
	border-color: var(--card-border-hover);
	cursor: default;
}

/*.task-card:active {
	background-color: var(--background-hover);
}*/

.task-card-body {
	font-size: x-small;
}

.small-button {
	font-size: x-small;
}



