

@if (tasks | async) {
  <div class="list-container tasks">
    <div class="task-container column-container">
      @if (editable) {
        <div class="list tasks"
          cdkDropList
          #taskList="cdkDropList"
          [cdkDropListData]="{ tasks: (tasks | async), issue: issue }"
          (cdkDropListDropped)="onDrop($event)">
          <div>
            @for (task of (tasks | async).tasks.list; track task; let i = $index) {
              <div class="task-card text-truncate" cdkDrag>
                <div class="drag-placeholder" *cdkDragPlaceholder></div>
                <sb-task-card [task]="task" [editCoordinator]="editCoordinator"></sb-task-card>
              </div>
            }
          </div>
        </div>
      } @else {
        <div class="list tasks">
          <div>
            @for (task of (tasks | async).tasks.list; track task; let i = $index) {
              <div class="task-card text-truncate">
                <sb-task-card [task]="task" [editable]="false"></sb-task-card>
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>
} @else {
  <mat-spinner></mat-spinner>
}
