.footer {
	height: 2rem;
	padding: 4px;

	background-color: var(--light-gray);

	border-width: 1px;
	border-style: groove;
}


.logout-button {
	background-color: #00000000;
	border-style: none;
}

.button-icon {
	vertical-align: middle;
}

@media screen and (max-width: 980px) {
	.b-label {
		display: none;
	}
}

.active-users-button {
	background-color: #00000000;
	border-style: none;
}

.active-users-button > div > span {
	vertical-align: middle;
}

@media screen and (min-width: 1052px) {
	.active-users-button {
		display: none;
	}
}

.active-users {
	background-color: var(--secondary);
	color: var(--on-secondary);
	padding: 6px;
	width: 100%;
}