<div class="sprint-detail">

	<div>

		<mat-card class="sprint-frame-card">
			<mat-card-title>
				<mat-icon fontSet="fas" fontIcon="fa-shapes"></mat-icon>
				{{sprint.id}} - {{sprint.title}}
				<button  style="position: relative; top: -4px; left: 10px;" *ngIf="showEditButton && permission(sprint, 'update')" mat-icon-button color="primary" matTooltip="Edit Sprint" (click)="editSprint()"><mat-icon>edit</mat-icon></button>
				<button  style="position: relative; top: -4px; left: 10px;" *ngIf="showSuspendButton && permission(sprint, 'update')" mat-icon-button color="warn" matTooltip="Suspend Sprint" (click)="suspendSprint()"><mat-icon>pause_circle</mat-icon></button>
			</mat-card-title>
			<ng-content></ng-content>
		</mat-card>
		
	</div>
</div>