<div class="sprint-detail">
	<div>

		<div class="sprint-frame-card">
			<div class="banner-text row">
				<div class="col-10">
					<mat-icon fontSet="fas" fontIcon="fa-running"></mat-icon>
					{{sprint.id}} - {{sprint.title}}
					<div class="ml-3 menu-text">Goal: <span class="banner-text">{{ sprint.goal }}</span></div>
				</div>
				<div class="col-1">
					<button style="position: relative; top: -4px; left: 10px;" *ngIf="showSuspendButton && permission(sprint, 'update')" mat-icon-button matTooltip="Suspend Sprint" (click)="suspendSprint()"><mat-icon class="pause-button">pause_circle</mat-icon></button>
					<button style="position: relative; top: -4px; left: 10px;" *ngIf="showFinishButton && permission(sprint, 'update')" mat-icon-button matTooltip="Finish Sprint" (click)="finishSprint()"><mat-icon class="finish-button">check_circle</mat-icon></button>
				</div>
			</div>
			<ng-content></ng-content>
		</div>
		
	</div>
</div>