<ng-template #progressSpinner><mat-spinner></mat-spinner></ng-template>

<div>
	<div *ngFor="let issue of issues">
		<div class="issue-list-entry">
			<div class="issue-title" [ngClass]="{ 'not-accepted': !isAccepted(issue) }">#{{issue.id}} - {{ issue.title }}</div> 
			<div>Estimate: {{ issue.estimate || 0 }}</div>
			<div>Completed: <span [ngClass]="{'closed-yes': issue.completed, 'closed-no': !issue.completed}">{{ issue.completed ? "Yes" : "No" }}</span></div>
			<div class="description" *ngIf="issue.description" [innerHtml]="issue.description"></div>

			<ng-template #asdf><span>ACCEPTED</span></ng-template>
			<span *ngIf="!isAccepted(issue); else asdf" class="not-accepted">NOT ACCEPTED</span>

			<div class="ml-3">
				<strong>Tasks</strong>
				<div *ngFor="let task of issue.tasks">
					#{{task.id}} - {{task.title}} ({{task.estimate}} hrs), assigned to {{task.assignee_name}}, 
					<span *ngIf="task.state == 'complete'">Completed at {{task.completed_at | date:'short'}}</span>
					<span *ngIf="task.state != 'complete'">Incomplete</span>
					<div class="description" *ngIf="task.description" [innerHtml]="task.description"></div>
				</div>
			</div>
		</div>
	</div>
</div>