.issue-title {
	font-size: 1.25em;
	font-weight: bold;
}

.description {
	border-style: solid;
	border-color: var(--card-border);
}

.issue-list-entry {
	border-bottom-style: solid;
	border-bottom-color: var(--on-background);
}

.closed-yes {

}

.closed-no {
	font-style: italic;
}

.not-accepted {
	color: var(--error);
	font-weight: bold;
}
