  <div class="px-3">
    <div [ngClass]="{'sprint-card-expanded' : expanded, 'sprint-card-collapsed' : !expanded}" class="sprint-card text-truncate row">
      <span class="col-10" (click)="toggleExpanded()">
        <button *ngIf="!expanded" mat-icon-button><mat-icon>expand_more</mat-icon></button>
        <button *ngIf="expanded" mat-icon-button><mat-icon>expand_less</mat-icon></button>
      

        <button mat-icon-button (click)="onViewSprint($event)" matTooltip="View Sprint">
            <mat-icon fontSet="fas" fontIcon="fa-eye"></mat-icon>
        </button>
        {{ sprint.id }} - {{sprint.title}}
      </span>
      <span class="col-2">
        <button mat-icon-button *ngIf="showStartButton" (click)="onStartSprint($event)" matTooltip="Start Sprint">
            <mat-icon class="play-icon" fontSet="fas" fontIcon="fa-play-circle"></mat-icon>
        </button>
        <span>
          <!-- <mat-icon *ngIf="sprint.id == sprint.project.current_sprint_id" class="mt-2" matTooltip="Current Sprint">directions_run</mat-icon> -->
          <button *ngIf="sprint.id == sprint.project.current_sprint_id" mat-icon-button color="warn" 
              matTooltip="Suspend Sprint" (click)="suspendSprint()"><mat-icon>pause_circle</mat-icon></button>
        </span>
      </span>
    </div>

    <div class="sprint-card-content" *ngIf="expanded">
      <div class="sprint-info row">
        <div class="col-12">Goal: {{ sprint.goal }}</div>
      </div>
      <div class="sprint-info row">
        <div class="col-6">
          State: {{ (sprint.id == sprint.project.current_sprint_id) ? "Active" : ( sprint.started ? ( sprint.completed ? "Completed" : "Suspended" ) : "Pending" ) }} 
        </div>
        <div class="col-6">
          Total Estimate: {{ sprint.total_estimate }}
        </div>
      </div>
      <div class="sprint-info row">
        <div class="col-12">Total Work: {{ sprint.total_work }}</div>
      </div>
      <div class="sprint-info row">
        <div class="col-12">
          <a class="sb-link" (click)="showSummary()"><mat-icon style="position: relative; top: 4px;">people</mat-icon> Team Summary</a>
        </div>
      </div>
      <div class="sprint-info row">
        <div class="col-12" [innerHtml]="sprint.description"></div>
      </div>

    	<div style="margin-left: 30px;">
        <sb-sprint-issue-list [sprint]="sprint" (transfer)="onTransfer($event)" [editable]="editable"></sb-sprint-issue-list>
        <!-- <app-issues [project]="sprint.project" [sprint]="sprint"></app-issues> -->
  	  </div>
    </div> 
  </div>