<ng-template #progressSpinner><mat-spinner style="min-height: 32px; position: relative; left: 16px" diameter="32"></mat-spinner></ng-template>

<div *ngIf="task; else progressSpinner" class="ml-1 row text-truncate task-card">
  <span class="col-10 text-wrap" [matTooltip]="task.title + ' (' + task.estimate + ' hours)'">
  	<!-- <button mat-icon-button (click)="showTaskDetails()"><mat-icon fontIcon="fa-eye" fontSet="fas"></mat-icon></button> -->
   	<a class="text-wrap banner-text mr-1" (click)="showTaskDetails()">#{{task.id}} - {{task.title}}</a>
   	  <span class="menu-text">({{task.estimate}} hours)</span>
  </span>
  <span class="col-2 mt-3">
   	<mat-checkbox [disabled]="!permission(task, 'update')" color="primary" (change)="onCheckboxChange($event)" [checked]="task.state == 'complete'" #checkbox></mat-checkbox>
  </span>
</div>
