.tasks {
	min-height: 30px;
}

.task-card {
	font-family: var(--text-font);
	font-size: small;
	background: var(--background);
	border-radius: 1px;
	border-width: 1px;
	border-color: var(--card-border);
	border-style: solid;
	padding: 3px;
	padding-left: 6px;
	color: black;
}

.task-card:hover {
	background: var(--background-hover);
	cursor: default;
	filter: drop-shadow(1px 1px var(--button-shadow));
}

.small-button {
	font-size: x-small;
}





