<ng-template #progressSpinner><mat-spinner></mat-spinner></ng-template>
<app-project-frame *ngIf="project; else progressSpinner" [project]="project" [showTeamButton]="false">
	<div class="row">
		<div class="col-md-6">
			<mat-card class="project-info-card">
				<mat-card-title><mat-icon class="mr-1" fontSet="fas" fontIcon="fa-info-circle"></mat-icon>Info</mat-card-title>
				<mat-card-content>
					<app-project-card [project]="project"></app-project-card>
				</mat-card-content>
			</mat-card>

			<mat-card class="project-info-card">
				<mat-card-title>
					<mat-icon fontSet="fas" fontIcon="fa-heartbeat"></mat-icon>
					Recent Activity
				</mat-card-title>
				<mat-card-content>
					<sb-project-activity-list [project]="project"></sb-project-activity-list>
				</mat-card-content>
			</mat-card>

			<mat-card class="project-info-card">
				<mat-card-title>
					<mat-icon style="position: relative; top: 3px;">people</mat-icon>
					Team
				</mat-card-title>
				<mat-card-content>
					<div *ngFor="let user of project.team">
						<img *ngIf="user.picture" style="width: 32px;" [src]="user.picture"> {{ user.displayName || (user.first_name + " " + user.last_name) }}
					</div>
				</mat-card-content>
			</mat-card>
		</div>

		<div class="col-md-6">
			<mat-card class="project-info-card">
				<mat-card-title>
					<mat-icon>directions_run</mat-icon>
					Current Sprint
				</mat-card-title>
				<mat-card-content>
					<div *ngIf="project.currentSprint">
						<a [routerLink]="['/','projects',project.id,'execution']">{{project.currentSprint.id}} - {{project.currentSprint.title}}</a>
						<div>Goal: {{ project.currentSprint.goal }}</div>
					</div> 
					<h6 *ngIf="!project.currentSprint">None</h6>
				</mat-card-content>
			</mat-card>
			<mat-card class="project-info-card">
				<mat-card-title>
					<mat-icon fontSet="fas" fontIcon="fa-burn"></mat-icon>
					Burndown
				</mat-card-title>
				<mat-card-content>
					<div *ngIf="project.currentSprint">
						<app-burndown [sprintId]="project.currentSprint.id"></app-burndown>
					</div>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</app-project-frame>