.connected {
	color: var(--okay);
}

.disconnected {
	color: var(--error);
}

@media screen and (max-width: 499px) {
	.status-text {
		display: none;
	}
}

.status-text {
	font-family: var(--banner-font);
	color: var(--on-primary-dark);
}
