<form *ngIf="issue" class="issue-form menu-text" [formGroup]="issueForm" (ngSubmit)="submit()">
	<div class="row">
		<mat-form-field class="col-12" appearance="fill">
			<mat-label>Issue Title</mat-label>
			<input matInput formControlName="title">
			<mat-error>Title can't be blank</mat-error>
		</mat-form-field>
	</div>

	<div class="row">
	    <mat-form-field class="col-12" appearance="fill">
	        <mat-label>Description</mat-label>
	        <textarea formControlName="description" rows="4" matInput></textarea>
	    </mat-form-field>
	</div>

	<div class="row">
	 	<mat-form-field class="col-6" appearance="fill">
		  	<mat-label>Estimate</mat-label>
		  	<mat-select class="user-text" formControlName="estimate">
		  		<mat-option class="user-text" [value]=0>0 Points</mat-option>
		  		<mat-option class="user-text" [value]=1>1 Points</mat-option>
		  		<mat-option class="user-text" [value]=2>2 Points</mat-option>
		  		<mat-option class="user-text" [value]=3>3 Points</mat-option>
		  		<mat-option class="user-text" [value]=5>5 Points</mat-option>
		  		<mat-option class="user-text" [value]=8>8 Points</mat-option>
		  		<mat-option class="user-text" [value]=13>13 Points</mat-option>
		  		<mat-option class="user-text" [value]=20>20 Points</mat-option>
		  		<mat-option class="user-text" [value]=40>40 Points</mat-option>
		  		<mat-option class="user-text" [value]=100>100 Points</mat-option>
		  	</mat-select>
	 	</mat-form-field>
	</div>

	<div mat-dialog-actions class="mb-2">
        <button mat-button class="menu-text-bold" type="button" *ngIf="mode == 'edit' && permission(issue.project, 'delete-issue')" color="warn" (click)="confirmDelete()">Delete</button>
	    <button mat-button class="menu-text-bold" type="button" (click)="cancelEdit.emit()">Cancel</button>
	    <button mat-button class="menu-text-bold" type="submit" [disabled]="!issueForm.valid">Save</button>
	</div>
</form>

