.tasks {
	min-height: 30px;
}

.task-card {
	font-size: small;
	background: white;
	border-radius: 5px;
	border-width: 1px;
	border-color: var(--card-border);
	border-style: solid;
	box-shadow: 2px 2px var(--card-shadow);
	padding: 3px;
	padding-left: 6px;
	color: black;
}

.task-card:hover {
	background: var(--card-border-hover);
	cursor: default;
}

.task-card-body {
	font-size: x-small;
}

.task-id {
	font-family: sans-serif;
	font-weight: bold;
}

.task-link {
	color: #444;
}

.task-link:hover {
	text-decoration: none;
	color: blue;
}

.task-title {
	font-family: sans-serif;
	font-style: italic;
}

.small-button {
	font-size: x-small;
}

.task-description {
	font-family: sans-serif;
	background: #ddd;
}

.drag-icon {
	color: #aaa;
}


