.comment-text-area {
	width: 100%;
	box-shadow: 2px 2px #ddd;
	font-family: var(--user-font);

	background-color: var(--background);
	color: var(--on-background);
}

.comment-text-area::placeholder {
	font-family: var(--menu-font);
	color: var(--on-background);
	opacity: 40%
}

.submit-button {
	font-family: var(--menu-font);

	background-color: var(--secondary-light);
	color: var(--on-secondary-light);
}