.epics {
	min-height: 30px;
}

.epic-card {
	font-size: small;
	background-color: var(--background);
	border: 2px solid var(--card-shadow);
	border-radius: 1px;
	padding: 3px;
	padding-left: 6px;
	margin-top:  1px;
}

.epic-card:hover {
	border: 2px solid var(--card-border-hover);
	cursor: move;
}

.fixed-epic-card {
	font-size: small;
	background: var(--background);
	border: 2px solid var(--card-shadow);
	border-radius: 1px;
	padding: 3px;
	padding-left: 6px;
	margin-top: 1px;
}

.fixed-epic-card:hover {
	cursor: default;
	border: 2px solid var(--card-border-hover);
}

