<ng-template #progressSpinner><div class="d-flex justify-content-center"><mat-spinner></mat-spinner></div></ng-template>

<div class="list-container epics">
  <div class="epic-container column-container">
  	<div class="list epics" 
  	     cdkDropList 
  	     #epicList="cdkDropList" 
  	     [cdkDropListData]="{ epics: epics }"
  	     (cdkDropListDropped)="onDrop($event)">

      <div *ngIf="epics; else progressSpinner" cdkDropListGroup>
        <div *ngFor="let epic of epics; let i = index" cdkDrag>
          <div class="epic-card text-truncate" 
               [ngStyle]="{'background-color': (epic.color ? epic.color : '#FFFFFF'), 'color': fontColor(epic.color)}">
            
            <div class="drag-placeholder" *cdkDragPlaceholder></div>
            <div (click)="clickEpic(epic)">
              <button *ngIf="!expanded(epic)" mat-icon-button><mat-icon (click)="toggleExpandEpic(epic)">expand_more</mat-icon></button>
              <button *ngIf="expanded(epic)" mat-icon-button><mat-icon (click)="toggleExpandEpic(epic)">expand_less</mat-icon></button>
              <span>
                #{{epic.id}} - {{epic.title}}
              </span>
            </div>
          </div>

          <div class="row" *ngIf="expanded(epic)">
            <div class="col-1">
            </div>
            <div class="col-11">
              <sb-epic-issue-list [epic]="epic" (updateEpic)="onUpdateEpic($event)" (onTransfer)="onTransferIssue($event)"></sb-epic-issue-list>
            </div>
          </div>
        </div>
      </div>

  	</div>
  </div>
</div>



