.epics {
	min-height: 30px;
}

.epic-card {
	font-size: small;
	background-color: var(--background);
	border-radius: 5px;
	border-width: 2px;
	border-color: var(--light-gray);
	border-style: solid;
	box-shadow: 2px 2px var(--light-gray);
	padding: 3px;
	padding-left: 6px;
}

.epic-card:hover {
	border: 2px solid var(--dark-gray);
	cursor: move;
}

.fixed-epic-card {
	font-size: small;
	background: var(--background);
	border-radius: 5px;
	border-width: 2px;
	border-color: var(--gray);
	border-style: solid;
	box-shadow: 2px 2px var(--gray);
	padding: 3px;
	padding-left: 6px;
}

.fixed-epic-card:hover {
	border: 2px solid var(--dark-gray);
}

.drag-placeholder {
  background: var(--gray);
  border: dotted 1px var(--dark-gray);
  min-height: 40px;
}

