.epics {
	min-height: 30px;
}

.epic-card {
	font-size: small;
	background-color: var(--background);
	border-radius: 5px;
	border-width: 2px;
	border-color: var(--card-border);
	border-style: solid;
	box-shadow: 2px 2px var(--card-shadow);
	padding: 3px;
	padding-left: 6px;
}

.epic-card:hover {
	border: 2px solid var(--card-border-hover);
	cursor: move;
}

.fixed-epic-card {
	font-size: small;
	background: var(--background);
	border-radius: 5px;
	border-width: 2px;
	border-color: var(--card-border);
	border-style: solid;
	box-shadow: 2px 2px var(--card-shadow);
	padding: 3px;
	padding-left: 6px;
}

.fixed-epic-card:hover {
	border: 2px solid var(--card-border-hover);
}

