.issue-progress-bar {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	height: 0.5em;
}

.selected {
	background-color: var(--secondary);
}

.faded-icon {
	color: var(--primary);
}

.panel {
	background-color: var(--light-gray);
}

.action-button {
	box-shadow: 2px 2px var(--gray);
}