.issue-progress-bar {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	height: 0.5em;
}

.selected {
	background-color: var(--selected-state-button-background);
	color: var(--on-selected-state-button-background);
}

.faded-icon {
	color: var(--unselected-state-button-icon);
}

.panel {
	background-color: var(--issue-state-card-background);
}

.action-button {
	box-shadow: 2px 2px var(--button-shadow);
}