.issue-progress-bar {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	height: 0.5em;
}

.selected {
	background-color: var(--selected-state-button-background);
	color: var(--on-selected-state-button-background);
}

.faded-icon {
	color: var(--unselected-state-button-icon);
}

.panel {
	background-color: var(--issue-state-card-background);
	border-radius: 1px !important;
}

.action-button {
	border: 1px solid var(--button-border);
}

.action-button:hover {
	border: 1px solid var(--button-shadow);
	filter: drop-shadow(1px 1px var(--button-shadow));
}