<mat-card *ngIf="report" class="inner-detail-card">
	<mat-card-title>
		<div class="banner-text" *ngIf="report.sprint">
			{{report.sprint.id}} - {{report.sprint.title}}
		</div>
	</mat-card-title>

	<mat-card-content>
		<div *ngIf="report.sprint">
			<div [ngSwitch]="mode">
				<div *ngSwitchCase="'report'">
					<div class="pb-3 menu-text">Start: <span class="base-text">{{ report.sprint.start_date }}</span> End: <span class="base-text">{{ report.sprint.end_date }}</span></div>
					<div class="mb-3 menu-text">Total estimate: <span class="base-text">{{ report.sprint.total_estimate }}</span></div>
					<h4 class="menu-text">Goal: <span class="base-text">{{report.sprint.goal}}</span></h4>
					<div class="base-text">{{report.sprint.description}}</div>

					<div class="mt-3" *ngIf="permission(report.sprint, 'compare')"><a class="sb-link" (click)="mode = 'compare'"><span class="menu-text team-summary-link">Sprint Compare</span></a></div>

					<h4 class="banner-text">Burndown</h4>
					<app-burndown [sprintId]="report.sprint.id"></app-burndown>

					<h4 class="banner-text">Retrospective
						<span *ngIf="!editingRetrospective" class="no-print">
							<button mat-icon-button (click)="editingRetrospective = true"><mat-icon color="primary">edit</mat-icon></button>
						</span>
					</h4>
					<div style="font-size: 12pt; font-weight: normal;" *ngIf="!editingRetrospective">
						<div class="base-text">{{report.sprint.retrospective}}</div>
						
					</div>
					<div class="no-print mb-3" style="font-size: 12pt; font-weight: normal;" *ngIf="editingRetrospective">
						<textarea class="issue-editor mt-6" rows="4" name="issueDescription" [editor]="Editor" [data]="" [(ngModel)]="report.sprint.retrospective"></textarea>
						<div><button mat-button class="menu-text" (click)="editingRetrospective = false">Cancel</button><button mat-button class="menu-text" (click)="saveRetrospective()">Save</button></div>
					</div>

					<h4 class="banner-text">Issues:</h4>
					<sb-retrospective-issue-list [issues]="report.issues"></sb-retrospective-issue-list>
				</div>
				<div *ngSwitchCase="'compare'">
					<sb-sprint-snapshot [editable]="true" [project]="project" [sprint]="report.sprint" (close)="mode = 'report'"></sb-sprint-snapshot>
				</div>

			</div>
		</div>
	</mat-card-content>

</mat-card>