.epic-div {
	margin: 0 auto;
	border: 1px solid var(--card-border);
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.selected {

}

.unselected { 
	display: none;
}

.arrow-button {
	padding: 0;
}