.nav {
	height: 1.85rem;
}

.nav-item {
	background-color: #0000;
	border: 0;
	margin: 0 2px 0 2px;
	height: 2rem;
	color: var(--on-background);
	font-family: var(--menu-font);
}

.nav-item:hover {
	background-color: var(--nav-item-hover-background);
	color: var(--on-nav-item-hover-background);
}

.nav-item-selected {
	background-color: var(--nav-item-selected-background);
	color: var(--on-nav-item-selected-background);
}

.nav-wrapper {
	margin: 0 auto;
}


