

<!-- <div>
<mat-checkbox class="menu-text" [hidden]="!allIssuesAllowed" #checkbox>Show all issues</mat-checkbox>
</div> -->
<div>
  <!-- <h3 class="banner-text" *ngIf="allIssuesAllowed && checkbox.checked">All Issues</h3>
  <h3 class="banner-text" *ngIf="!allIssuesAllowed || !checkbox.checked">Backlog Issues</h3> -->
  @if ((issues | async)) {
    <sb-issue-list [issues]="issues | async"
      [container]="project" (reorder)="onReorder($event)" [fixed]="false"
      (transfer)="onTransfer($event)"
      [filter]="filterBacklogIssues"
    (issueSelected)="onIssueSelected($event)"></sb-issue-list>
  } @else {
    <mat-spinner></mat-spinner>
  }

</div>
