.issues {
	min-height: 30px;
}

.issue-card {
	font-size: small;
	background: var(--background);
	border: 2px solid var(--card-shadow);
	border-radius: 1px;
	padding: 3px;
	padding-left: 6px;
	margin-top: 1px;
}

.issue-card:hover {
	cursor: move;
	border: 2px solid var(--card-border-hover);
}

.fixed-issue-card {
	font-size: small;
	background: var(--background);
	border: 2px solid var(--card-shadow);
	border-radius: 1px;
	padding: 3px;
	padding-left: 6px;
	margin-top: 1px;
}

.fixed-issue-card:hover {
	cursor: default;
	border: 2px solid var(--card-border-hover);
}

.issue-card-body {
	font-size: x-small;
}

.completed-title {
	text-decoration: line-through;
}

.menu-option {
	user-select: none;
	outline: none;
}
