<div *ngIf="issue">
	<h2>{{issue.id}} - {{issue.title}}</h2>
	<!-- <h4 *ngIf="issue.assignee && !(team | async)">Assignee: {{issue.assignee.first_name}} {{issue.assignee.last_name}}</h4>
	<div *ngIf="team | async">
		<sb-user-selector [team]="(team | async)?.team" [assignee]="issue.assignee" (userSelected)="assignIssue($event)"></sb-user-selector>
	</div> -->
	<mat-card class="mb-3" *ngIf="issue.assignee || (team | async)">
		<span class="issue-description" [innerHtml]="issue.description"></span>
	</mat-card>
	<p><mat-icon fontSet="fas" fontIcon="fa-ruler"></mat-icon> Estimate: {{issue.estimate}}</p>
	<p><mat-icon fontSet="fas" fontIcon="fa-clipboard-list"></mat-icon> State: {{issue.state}}</p>

	<h6>Epic</h6>
	<div *ngIf="issue.epic">
	    <div class="epic-card text-truncate" 
	       [ngStyle]="{'background-color': (issue.epic.color ? issue.epic.color : '#FFFFFF'), 'color': fontColor(issue.epic.color)}"
	       [routerLink]="['/projects', issue.project.id, 'epics', issue.epic.id]">
	       {{issue.epic.title}}
	    </div>
	</div>
	<div *ngIf="!issue.epic">
		No Epic
	</div>

	<mat-card class="mt-4" *ngIf="showAcceptanceCriteria"> 
		<h6>Acceptance Criteria</h6>
		<mat-list>
			<mat-item *ngFor="let criterion of issue.acceptance_criteria">
				<div class="mb-2">
					<sb-acceptance-criterion-entry [criterion]="criterion" [issue]="issue" [showCompletionCheckboxes]="showCompletionCheckboxes" [editable]="editable" (deleteAC)="deleteAC($event)"></sb-acceptance-criterion-entry>
				</div>
			</mat-item>
			<mat-item *ngIf="editable && permission(issue,'update')">
				<div class="row add-ac-wrapper">
					<button *ngIf="permission(issue, 'update')" mat-icon-button color="primary" matTooltip="New Acceptance Criterion" (click)="createAC(newCriterion.value)" [disabled]="newCriterion.value.trim() == ''"><mat-icon class="add-ac">add_circle</mat-icon></button>
					<textarea class="col-11" #newCriterion></textarea>
				</div>
			</mat-item>
		</mat-list>
	</mat-card>
	
	<h6 class="mt-4">Tasks <button style="position: relative; top: -4px" *ngIf="editable && permission(issue, 'create-task')" mat-icon-button color="primary" matTooltip="New Task" (click)="createTask()"><mat-icon>add_circle</mat-icon></button></h6>

	<ng-template #notasks>No Tasks</ng-template>
	<div *ngIf="issue.tasks && issue.tasks.length > 0; else notasks">
		<app-tasks [issue]="issue"></app-tasks>
	</div>

	<div class="mt-3">
		<h6>Comments</h6>
		<div class="comments-display-box mb-1"><sb-comment-display *ngFor="let comment of issue.comments" [comment]="comment"></sb-comment-display></div>
		<sb-comment-entry [issueId]="issue.id"></sb-comment-entry>
	</div>
</div>
