.issue-card {
	background-color: var(--background);
	color: var(--on-background);
}

.epic-card {
	font-size: small;
	background-color: var(--background);
	border-radius: 5px;
	border-width: 2px;
	border-color: var(--light-gray);
	border-style: solid;
	box-shadow: 2px 2px var(--light-gray);
	padding: 3px;
	padding-left: 6px;
}

.epic-card:hover {
	cursor: default;
	border: 2px solid var(--dark-gray);
}

.epic-card:active {
	background-color: var(--gray) !important;
}

.add-ac {
	font-size: 13pt;
}

.add-ac-wrapper {
	align-items: center;
}

/*.assignee-select {
	background-color: var(--accent-color);
	min-height: 3em;
	border-radius: 3px;
}*/
