<ng-template #progressSpinner><mat-spinner></mat-spinner></ng-template>

<sb-sprint-frame *ngIf="sprint; else progressSpinner" [sprint]="sprint" [showSuspendButton]="true" (suspend)="onSuspendSprint($event)">
	<div  class="row" cdkDropListGroup>
		<div class="col-4">
			<h4>Open</h4>
			<sb-sprint-issue-state-list [issues]="((issues | async) || {issues:{list:[]}}).issues.list" state="Open" (transfer)="setState($event, 'Open')" (viewIssue)="onViewIssue($event)">
			</sb-sprint-issue-state-list>
		</div>
		<div class="col-4">
			<h4>In Progress</h4>
			<sb-sprint-issue-state-list [issues]="((issues | async) || {issues:{list:[]}}).issues.list" state="In Progress" (transfer)="setState($event, 'In Progress')" (viewIssue)="onViewIssue($event)">
			</sb-sprint-issue-state-list>
		</div>
		<div class="col-4">
			<h4>Closed</h4>
			<sb-sprint-issue-state-list [issues]="((issues | async) || {issues:{list:[]}}).issues.list" state="Closed" (transfer)="setState($event, 'Closed')" (viewIssue)="onViewIssue($event)">
			</sb-sprint-issue-state-list>
		</div>
	</div> 
</sb-sprint-frame>