.acceptance-criteria-textarea {
	background-color: var(--background);
	border-color: var(--on-background);
	color: var(--on-background);
}

.acceptance-criteria-row {
	align-items: center
}

.ac-checkbox {
	padding-left: 9px;
}