.epic-number-link {
	text-decoration: underline; 
	text-decoration-style: dotted;
	color: var(--link);
}

.epic-number-link:hover {
	text-decoration: underline; 
	text-decoration-style: solid;
	color: var(--link-hover);
}