<ng-template #progressSpinner><mat-spinner style="min-height: 32px; position: relative; left: 16px" diameter="32"></mat-spinner></ng-template>

          <div *ngIf="task; else progressSpinner">
            <div class="mt-2 ml-1 row">
              <span class="col-2">
                <mat-icon fontIcon="fa-hammer" fontSet="fas"></mat-icon>#{{task.id}}
              </span>
              <a class="col-7 task-link text-wrap" matTooltip="Edit Task" [class.disabled]="!permission(task, 'update') ? true : null" (click)="editTask(task, $event)">{{task.title}}</a>
              <span class="col-3">
                <a *ngIf="permission(task, 'update')" class="task-link estimate-link" matTooltip="Edit Estimate" [hidden]="isEditingEstimate()" [disabled]="!permission(task, 'update') ? true : null" (click)="startEditingEstimate()">{{task.estimate}} hours</a>
                <span *ngIf="!permission(task, 'update')">{{task.estimate}} hours</span>
                <input [hidden]="!isEditingEstimate()" type="text" #estimateEditor [(ngModel)]="estimate" (blur)="stopEditingEstimate(false)" (keydown)="processKeyPress($event)">
              </span>
            </div>

            <div class="mt-1 ml-3 text-wrap" [innerHtml]="task.description"></div>

            <div class="mt-2 ml-1 row">
              <span class="col-11">
                <div *ngIf="team | async">
                  <sb-user-selector [team]="(team | async)?.team" [assignee]="task.assignee" (userSelected)="assignTask($event)" [disabled]="!permission(task, 'update')"></sb-user-selector>
                </div>
              </span>
            </div>
          </div>