
.task-link {
	color: var(--link);
}

.task-link:hover {
	text-decoration: none;
	color: var(--link-hover);
}

.task-link:active {
	color: var(--link-active);
}

.estimate-link {
	text-decoration: underline;
}
