.issues {
	min-height: 30px;
}

.issue-card {
	font-size: small;
	background: var(--background);
	border-radius: 5px;
	border-width: 2px;
	border-color: var(--light-gray);
	border-style: solid;
	box-shadow: 2px 2px var(--light-gray);
	padding: 3px;
	padding-left: 6px;
}

.issue-card:hover {
	cursor: move;
	border: 2px solid var(--dark-gray);
}

.issue-card:active {
	background-color: var(--gray) !important;
}

.fixed-issue-card {
	font-size: small;
	background: var(--background);
	border-radius: 5px;
	border-width: 2px;
	border-color: var(--light-gray);
	border-style: solid;
	box-shadow: 2px 2px var(--light-gray);
	padding: 3px;
	padding-left: 6px;
}

.fixed-issue-card:hover {
	cursor: default;
	border: 2px solid var(--dark-gray);
}

.fixed-issue-card:active {
	background-color: var(--gray) !important;
}

.issue-card-body {
	font-size: x-small;
}

.drag-placeholder {
  background: var(--gray);
  border: dotted 1px var(--dark-gray);
  min-height: 40px;
}

.completed-title {
	text-decoration: line-through;
}

.menu-option {
	user-select: none;
	outline: none;
}
