.app-container {
	background-color: #FFF !important;
}
/*
.app-drawer {
	background-color: #CCC;
}

.shadow {
	box-shadow: 4px 4px 4px 0 #999 !important;
}

.blocker {
	position: fixed;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	background-color: #555;
	opacity: 50%;
	z-index: 50;
}

mat-card {
	margin: 4px;
	background-color: #ccc !important;
}

.main-content-drawer {
}

.main-content-container {
}*/
