
<app-top-bar error="{{error}}" syncServiceStatus="{{dataService.status | async}}"></app-top-bar>

<div class="app-container">

<<{{ (loginService.status | async) }}>>

		<div class="main-content-container container" *ngIf="(loginService.status | async) == 'logged_in'">
		  <div>
			  <app-topnav></app-topnav>

			  <!-- <app-breadcrumb class="mt-2"></app-breadcrumb> -->
			  <div *ngIf="(dataService.isConnected | async)">
				<router-outlet ></router-outlet>
			  </div>
		  </div>
		</div>




</div>

