
<app-top-bar class="no-print" error="{{error}}" syncServiceStatus="{{dataService.status | async}}"></app-top-bar>

<div class="app-container mat-app-background">

		<div class="main-content-container container" *ngIf="(loginService.status | async) == 'logged_in'">
		  <div>
		  	<div class="row align-items-center">
			  <span class="news-button" #newsTrigger (click)="showNewsFeed()" [matBadge]="(news$ | async)?.unseen_count" [matBadgeHidden]="(news$ | async)?.unseen_count == 0">
				<mat-icon class="material-icons-outlined">feed</mat-icon>
			  </span> 
			  <app-topnav class="col-11 no-print"></app-topnav>
			</div>

			  <!-- <app-breadcrumb class="mt-2"></app-breadcrumb> -->
			  <div *ngIf="(dataService.isConnected | async)">
				<router-outlet ></router-outlet>
			  </div>
		  </div>
		</div>




</div>

 

<ng-template #newsFeed>
  <sb-news-feed [news]="(news$ | async)?.news_items"></sb-news-feed>
</ng-template>
