.issue-card {
	padding-top: 4px;
}

.sprint-title {
	font-style: italic;
}

.done-button {
	background-color: var(--primary-dark);
	color: var(--on-primary-dark);
	border-radius: 5px;
	border-width: 2px;
	border-color: var(--light-gray);
	border-style: solid;
	box-shadow: 2px 2px var(--light-gray);
	margin-top: 3px;
}