<ng-template #progressSpinner><mat-spinner></mat-spinner></ng-template>

<div *ngIf="issues; else progressSpinner">
	<button (click)="okay()">Done</button>
	<div>Select Issues for <span class="banner-text sprint-title">{{sprint.title}}:</span></div>
	<div *ngFor="let issue of issues" class="issue-card text-truncate pl-2" 
         [ngStyle]="{'background-color': ((issue.epic && issue.epic.color) ? issue.epic.color : '#FFFFFF'), 'color': fontColor(issue.epic ? issue.epic.color : '#FFFFFF')}" >
		<mat-checkbox (click)="toggleInSprint(issue)" [checked]="issue.sprint && issue.sprint.id == sprint.id">#{{issue.id}} - {{issue.title}}</mat-checkbox>
	</div>
	<button (click)="okay()">Done</button>
</div>