<ng-template #progressSpinner><mat-spinner></mat-spinner></ng-template>

<div *ngIf="issues; else progressSpinner">
	<div class="col-12 text-right p-0">
		<button mat-button class="save-button icon-button mb-2 mt-2" (click)="okay()">Done</button>
	</div>
	<div>Select Issues for <span class="banner-text sprint-title">{{sprint.title}}:</span></div>
	<div *ngFor="let issue of issues" class="issue-card text-truncate pl-2 row" 
         [ngStyle]="{'background-color': ((issue.epic && issue.epic.color) ? issue.epic.color : '#FFFFFF'), 'color': fontColor(issue.epic ? issue.epic.color : '#FFFFFF')}" >
		<mat-checkbox class="col-10" (click)="toggleInSprint(issue)" [checked]="issue.sprint && issue.sprint.id == sprint.id">#{{issue.id}} - {{issue.title}}</mat-checkbox>
		<mat-icon *ngIf="issue.sprint && issue.sprint.id != sprint.id" class="col-2" 
			[matTooltip]="'In sprint \'' + issue.sprint.title + '\' (' + status(issue.sprint) +')'">directions_run</mat-icon>
	</div>
	<div class="col-12 text-right p-0">
		<button mat-button class="save-button icon-button mt-2" (click)="okay()">Done</button>
	</div>
</div>