@if (acceptanceCriteria.length > 0) {
  <div class="p-2">
    <div class="row title m-0"><div class="col-12">Acceptance {{ acceptanceCriteria.length > 1 ? "Criteria" : "Criterion" }}:</div></div>
    @for (ac of acceptanceCriteria; track ac) {
      <div class="row ac m-4 p-0">
        <sb-acceptance-criterion-compare class="col-12 m-0 p-0" [acceptanceCriterion]="ac"></sb-acceptance-criterion-compare>
      </div>
    }
  </div>
}
@if (acceptanceCriteriaRemoved.length > 0) {
  <div class="p-2">
    <div class="row title m-0"><div class="col-12">Acceptance {{ acceptanceCriteriaRemoved.length > 1 ? "Criteria" : "Criterion" }} Removed:</div></div>
    @for (ac of acceptanceCriteriaRemoved; track ac) {
      <div class="row removed ac m-4">
        <div class="col-12 m-0 p-2">
          <div class="row m-0">
            <div class="col-4 title">
              Id:
            </div>
            <div class="col-8">
              {{ ac.id }}
            </div>
          </div>
          <div class="row m-0"><div class="col-12">{{ ac.criterion }}</div></div>
        </div>
      </div>
    }
  </div>
}
@if (acceptanceCriteriaAdded.length > 0) {
  <div class="p-2">
    <div class="row title m-0"><div class="col-12">Acceptance {{ acceptanceCriteriaAdded.length > 1 ? "Criteria" : "Criterion" }} Added:</div></div>
    @for (ac of acceptanceCriteriaAdded; track ac) {
      <div class="row added ac m-4">
        <div class="col-12 m-0 p-2">
          <div class="row m-0">
            <div class="col-4 title">
              Id:
            </div>
            <div class="col-8">
              {{ ac.id }}
            </div>
          </div>
          <div class="row m-0"><div class="col-12">{{ ac.criterion }}</div></div>
        </div>
      </div>
    }
  </div>
}