.header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

.main-content {
	position:fixed;
	top: 4rem;
	left: 0px;
	right: 0px;
	bottom: 2rem;
	overflow-y: scroll;
	margin: 0 auto;
	z-index: 10;
}

@media screen and (max-width: 799px) {
	.main-content {
		width: 100%;
	}
}

@media screen and (min-width: 800px) {
	.main-content {
		width: 800px;
	}
}

@media screen and (min-width: 1000px) {
	.main-content {
		width: 80%;
	}
}


.active-users {
	position: fixed; 
	top: 4rem; 
	left: 0;
	background-color: #CBB677;
	box-shadow: 2px 2px #BBB;
	padding: 6px;
	width: 10%;
}

@media screen and (max-width: 1051px) {
	.active-users {
		display: none;
	}
}

.footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.nav-menu {
	width: 100%;
}

.nav {
	background-color: #CBB677;
	height: 2rem;
	position: fixed;
	top: 2rem;
}

.nav-item {
	background-color: #0000;
	border: 0;
	margin: 0 4px 0 4px;
}

.nav-item:hover {
	background-color: #AD9C65;
}

.nav-item-selected {
	background-color: #F4EFE1;
}

.nav-wrapper {
	margin: 0 auto;
}

.login-overlay {
	position: fixed;
	top: 2rem;
	bottom: 2rem;
	left: 0px;
	right: 0px;
	background-color: #FFF;
}


@media screen and (min-width: 780px) {
	.nav-menu {

	}
}

@media screen and (max-width: 779px) {
	.nav-menu {
		display: none;
	}

	.main-content {
		top: 2rem;
	}
}
