.state-box {
	border: 1px solid var(--card-border);
	border-radius: 5px;
	padding: 3px;
	box-shadow: 2px 2px var(--card-shadow);
}

.comments-display-box {
	background-color: var(--background);
}

.play-icon {
	color: var(--okay);
	font-size: 24px;
}

.pause-icon {
	color: var(--warning);
	font-size: 24px;
}