@if (news) {
  <div class="news-feed-container" >
    @if (news.length == 0) {
      <div>
        Your news feed is empty.
      </div>
    }
    @for (newsItem of news; track newsItem) {
      <div>
        Comment on
        @if (newsItem.comment.issue) {
          <app-issue-number-link [issue]="newsItem.comment.issue" (navigate)="close()"> - {{newsItem.comment.issue.title}}</app-issue-number-link>
        }
        @if (newsItem.comment.epic) {
          <sb-epic-number-link [epic]="newsItem.comment.epic" (navigate)="close()"> - {{newsItem.comment.epic.title}}</sb-epic-number-link>
        }
        @if (newsItem.comment.sprint) {
          <app-sprint-number-link [sprint]="newsItem.comment.sprint" (navigate)="close()"> - {{newsItem.comment.sprint.title}}</app-sprint-number-link>
        }
        @if (newsItem.comment.project) {
          <span>Project # {{newsItem.comment.project.id}}</span>
        }
        <sb-comment-display [comment]="newsItem.comment"></sb-comment-display>
      </div>
    }
  </div>
}