

<div class="list-container issues">
  <div class="issue-container column-container">
    <div class="list issues">

      @if (issues) {
        <div>
          <mat-accordion>
            @for (issue of (filteredIssues | async); track issue; let i = $index) {
              <div>
                <sb-expandable-issue [issue]="issue"></sb-expandable-issue>
              </div>
            }
            <!-- <mat-expansion-panel class="m-1"
            hideToggle="true"
            (click)="clickIssue(issue)"
            [ngStyle]="{'background-color': ((issue.epic && issue.epic.color) ? issue.epic.color : '#FFFFFF'), 'color': fontColor(issue.epic ? issue.epic.color : '#FFFFFF')}" *ngFor="let issue of (filteredIssues | async); let i = index" cdkDrag>
            <div class="drag-placeholder" *cdkDragPlaceholder></div>
            <mat-expansion-panel-header>
              <mat-expansion-panel-title class="text-truncate issue-panel banner-text">
                <button mat-icon-button *ngIf="showViewIcon" (click)="onViewIssue($event, issue)">
                  <mat-icon [ngStyle]="{'color': fontColor(issue.epic ? issue.epic.color : '#FFFFFF')}" fontSet="fas" fontIcon="fa-eye"></mat-icon>
                </button>
                #{{issue.id}} - {{issue.title}} - <span class="menu-text">{{taskList.percentComplete == -1 ? "0 hours" : (taskList.percentComplete | percent)}}</span>
              </mat-expansion-panel-title>
              <mat-progress-bar class="issue-progress-bar" mode="determinate" [value]="100*taskList.percentComplete"></mat-progress-bar>
            </mat-expansion-panel-header>
            <sb-checkable-task-list [issue]="issue" #taskList></sb-checkable-task-list>
          </mat-expansion-panel> -->
        </mat-accordion>
      </div>
    } @else {
      <div class="d-flex justify-content-center"><mat-spinner></mat-spinner></div>
    }

  </div>

  @if (fixed) {
    <div class="list issues"
      >
      @if (issues) {
        <div>
          @for (issue of (filteredIssues | async); track issue; let i = $index) {
            <div class="fixed-issue-card text-truncate pl-2"
              (click)="clickIssue(issue)"
              [ngStyle]="{'background-color': ((issue.epic && issue.epic.color) ? issue.epic.color : '#FFFFFF'), 'color': fontColor(issue.epic ? issue.epic.color : '#FFFFFF')}">
              <div class="row align-items-center">
                <div class="col-10 text-truncate banner-text" (click)="clickIssue(issue)">
                  #{{issue.id}} - {{issue.title}}
                </div>
                @if (allowRemove) {
                  <button mat-icon-button (click)="removeIssue(issue)">
                    <mat-icon [ngStyle]="{'color': fontColor(issue.epic ? issue.epic.color : '#FFFFFF')}" fontSet="fas" fontIcon="fa-times-circle"></mat-icon>
                  </button>
                }
              </div>
            </div>
          }
        </div>
      } @else {
        <div class="d-flex justify-content-center"><mat-spinner></mat-spinner></div>
      }
    </div>
  }
</div>
</div>



