.issues {
	min-height: 30px;
}

.issue-card {
	font-size: small;
	background: var(--background);
	border: 2px solid var(--card-shadow);
	border-radius: 1px;
	padding: 3px;
	padding-left: 6px;
	margin-top: 1px;
}

.issue-card:hover {
	cursor: move;
	border: 2px solid #666;
}

.issue-card:active {
	background-color: #999 !important;
}

.fixed-issue-card {
	font-size: small;
	background: var(--background);
	border: 2px solid var(--card-shadow);
	border-radius: 1px;
	padding: 3px;
	padding-left: 6px;
	margin-top: 1px;
}

.fixed-issue-card:hover {
	cursor: default;
	border: 2px solid #666;
}

.fixed-issue-card:active {
	background-color: #999 !important;
}

.issue-card-body {
	font-size: x-small;
}

.issue-id {
	font-family: sans-serif;
	font-weight: bold;
}

.issue-link {
	color: #444;
}

.issue-link:hover {
	text-decoration: none;
	color: blue;
}

.issue-title {
	font-family: sans-serif;
	font-style: italic;
}

.small-button {
	font-size: x-small;
}

.issue-description {
	font-family: sans-serif;
	background: #ddd;
}

.drag-icon {
	color: #aaa;
}

.issue-panel {
	font-size: small;
	z-index: 1;
}

.issue-progress-bar {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	height: 0.5em;
	color: red;
	background-color: orange;
}