<ng-template #progressSpinner><mat-spinner></mat-spinner></ng-template>

<app-project-frame *ngIf="project; else progressSpinner" [project]="project">
	<div *ngIf="issues; else progressSpinner">
		<div class="row" cdkDropListGroup>
			<div class="col-md-6" [ngClass]="{ 'large-only' : issue || mode=='edit' || mode=='create'}">
				<div class="inner-detail-card">
					<div class="col-12 text-right p-0">
						<button mat-button class="add-button icon-button" (click)="createIssue()">
							<mat-icon class="mr-1 sb-icon">add_circle</mat-icon>
							New
						</button>
					</div>
					<sb-simple-issues-list [container]="project" [issues]="issues" class="product-backlog" allIssuesAllowed="false" #productBacklog (issueSelected)="showDetail($event)"
				    [fixed]="!permission(project, 'update')" 
				    [requestedIssueId]="requestedIssueId"></sb-simple-issues-list>
				</div>
			</div>

			<div *ngIf="issue" class="issue-div arrow-div col-12 small-only">
				<button mat-icon-button class="arrow-button" (click)="clearDetail()">
					<mat-icon class="sb-icon align-middle">arrow_back</mat-icon>
				</button>
				Issue List
			</div>

			<div class="col-md-6">
				<div class="inner-detail-card">
					<mat-card-title [ngSwitch]="mode">
						<div *ngSwitchCase="'show'">
						</div>
						<div *ngSwitchCase="'edit'" class="banner-text pt-4">
							<mat-icon class="mr-1 sb-icon">edit</mat-icon>
							Edit Issue
						</div>
						<div *ngSwitchCase="'create'" class="banner-text pt-4">
							<mat-icon class="mr-1 sb-icon">add_circle</mat-icon>
							Create Issue
						</div>
					</mat-card-title>
					<mat-card-content [ngSwitch]="mode">
						<div *ngIf="issue">
							<div *ngSwitchCase="'show'">
								<app-issue-detail [showAcceptanceCriteria]="project.setting_use_acceptance_criteria" [showCompletionCheckboxes]="false" [issue]="issue"
				    		    (editIssue)="mode='edit'" [epics]="(epics$ | async)?.epics?.list" [sprints]="(sprints$ | async)?.sprints?.list"></app-issue-detail>
						    </div>
						</div>
						<div *ngSwitchCase="'edit'">
							<sb-issue-form mode="edit" *ngSwitchCase="'edit'" (confirmEdit)="confirmEdit($event)" (cancelEdit)="cancelEdit()" (deleteIssue)="delete($event)" [issue]="issue"></sb-issue-form>
						</div>
						<div *ngSwitchCase="'create'">
							<sb-issue-form mode="create" #createIssue  (confirmEdit)="saveNewIssue($event)" (cancelEdit)="cancelEdit()"></sb-issue-form>
						</div>
					</mat-card-content>
				</div>
			</div>
		</div>
	</div>
</app-project-frame>
