
<div class="project-detail">

  @if (project) {
    <app-project-frame [project]="project">
      @if (epics) {
        <div>
          <div class="row" cdkDropListGroup>
            <div class="col-md-6">
              <mat-card class="inner-detail-card">
                <mat-card-title>
                  <mat-icon class="mr-1" fontSet="fas" fontIcon="fa-scroll"></mat-icon>
                  Epics
                  @if (permission(project, 'create-epic')) {
                    <button style="position: relative; top: -4px" mat-icon-button color="primary" matTooltip="New Epic" (click)="createEpic()"><mat-icon>add_circle</mat-icon></button>
                  }
                </mat-card-title>
                <mat-card-content>
                  <app-epic-list [epics]="epics" [project]="project" class="epic-list" #epicList (selectEpic)="showDetail($event)" [fixed]="!permission(project, 'update')"
                  [allowCreateIssue]="permission(project, 'create-issue')" (reorderEpics)="onReorderEpics($event)" (transferIssue)="onTransferIssue($event)" (updateEpic)="onUpdateEpic($event)"></app-epic-list>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col-md-6">
              @if (selectedEpic != null) {
                <mat-card class="inner-detail-card">
                  <mat-card-title>
                    @switch (mode) {
                      @case ('show') {
                        <div>
                          <mat-icon class="mr-1" fontSet="fas" fontIcon="fa-eye"></mat-icon>
                          Detail
                          @if (permission(selectedEpic, 'update')) {
                            <button style="position: relative; top: -4px" mat-icon-button color="primary" matTooltip="Edit Epic" (click)="editEpic()"><mat-icon>edit</mat-icon></button>
                          }
                        </div>
                      }
                      @case ('edit') {
                        <div>
                          <mat-icon class="mr-1">edit</mat-icon>
                          Edit Epic
                        </div>
                      }
                      @case ('create') {
                        <div>
                          <mat-icon class="mr-1">add_circle</mat-icon>
                          Create Epic
                        </div>
                      }
                    }
                  </mat-card-title>
                  <mat-card-content>
                    @switch (mode) {
                      @case ('show') {
                        <sb-epic-loader [epicId]="selectedEpic.id"><app-epic-detail #epicView></app-epic-detail></sb-epic-loader>
                      }
                      @case ('edit') {
                        <sb-epic-form mode="edit" [epic]="selectedEpic" (confirmEdit)="confirmEdit($event)" (cancelEdit)="cancelEdit()" (deleteEpic)="delete($event)"></sb-epic-form>
                      }
                      @case ('create') {
                        <sb-epic-form mode="create" [epic]="selectedEpic" (confirmEdit)="saveNewEpic($event)" (cancelEdit)="cancelEdit()"></sb-epic-form>
                      }
                    }
                  </mat-card-content>
                </mat-card>
              }
            </div>
          </div>
        </div>
      } @else {
        <mat-spinner></mat-spinner>
      }
    </app-project-frame>
  } @else {
    <mat-spinner></mat-spinner>
  }


</div>
