.product-backlog-link {
	text-decoration: underline; 
	text-decoration-style: dotted;
}

.product-backlog-link:hover {
	text-decoration: underline; 
	text-decoration-style: dotted;
	color: #683ab7;
}

.product-backlog.link:active {
	color: #888;
}

.inner-detail-card {
	background-color: var(--background);
	color: var(--on-background);
}

.comments-display-box {
	background-color: var(--background);

	border: 1px solid var(--on-background);
}

.add-button {
	background-color: var(--secondary);
	color: var(--on-secondary);
	border-radius: 5px;
	border-width: 2px;
	border-color: var(--light-gray);
	border-style: solid;
	box-shadow: 2px 2px var(--light-gray);
}

.sprint-div {
	margin: 0 auto;
	border: 1px solid var(--gray);
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;
}

.arrow-div {
	background-color: var(--secondary);
	color: var(--on-secondary);
}

.arrow-button {
	padding: 0;
}