<ng-template #progressSpinner><mat-spinner></mat-spinner></ng-template>

<app-project-frame *ngIf="project; else progressSpinner" [project]="project">
			<div class="row" cdkDropListGroup>
				<div class="col-md-6">
					<mat-card class="inner-detail-card">
						<div style="height:100%;">
					  		<h6 class="banner-text">Open and Pending Sprints
			 			    <button *ngIf="permission(project, 'create-sprint')" mat-icon-button matTooltip="New Sprint" (click)="newSprint()"><mat-icon color="primary">add_circle</mat-icon></button></h6>
		 			    	<sb-sprint-list [project]="project" [currentOnly]="true" (transfer)="onTransfer($event)" (selected)="onSprintSelected($event)" [showStartButton]="!project.currentSprint" (start)="onStart($event)" [editable]="true" (issueSelected)="onIssueSelected($event)"></sb-sprint-list>
							<!-- <app-sprints style="height:100%; display: flex; flex-direction: column;" [project]="project"></app-sprints> -->
						</div>
					</mat-card>
				</div>
				<div class="col-md-6">
					<mat-card class="inner-detail-card">
						<a class="product-backlog-link menu-text" *ngIf="mode == 'viewIssue'" (click)="mode = 'backlog'">Show Product Backlog</a>
						<mat-card-title [ngSwitch]="mode">
							<div class="banner-text" *ngSwitchCase="'backlog'">
								<mat-icon fontSet="fas" fontIcon="fa-list-alt"></mat-icon>
								Product Backlog
							</div>
							<div class="banner-text" *ngSwitchCase="'edit'">
								<mat-icon class="mr-1">edit</mat-icon>
								Edit Sprint
							</div>
							<div class="banner-text" *ngSwitchCase="'create'">
								<mat-icon class="mr-1">add_circle</mat-icon>
								Create Sprint
							</div>
							<div class="banner-text" *ngSwitchCase="'viewIssue'">
								<mat-icon class="mr-1" fontSet="fas" fontIcon="fa-eye"></mat-icon>
								View Issue
							</div>
						</mat-card-title>

						<mat-card-content [ngSwitch]="mode">
							<sb-project-issue-list *ngSwitchCase="'backlog'" [project]="project" (transfer)="onTransfer($event)" [fixed]="!permission(project, 'update')"></sb-project-issue-list>
							<sb-sprint-form *ngSwitchCase="'edit'" [sprint]="sprintUnderEdit" mode="edit" (confirm)="onConfirmEdit($event)" (cancel)="mode='backlog'" (delete)="onDeleteSprint($event)"></sb-sprint-form>
							<sb-sprint-form *ngSwitchCase="'create'" mode="create" (confirm)="onConfirmCreate($event)" (cancel)="mode='backlog'"></sb-sprint-form>
							<sb-issue-loader *ngSwitchCase="'viewIssue'" [issueId]="selectedIssue?.id"><app-issue-detail [showAcceptanceCriteria]="project.setting_use_acceptance_criteria" [showCompletionCheckboxes]="false" #issueView></app-issue-detail></sb-issue-loader>
						</mat-card-content>
					</mat-card>
				</div>
			</div>
</app-project-frame>