
<div class="project-detail">

  @if (project) {
    <app-project-frame [project]="project">
      <div class="row" cdkDropListGroup>
        <div class="col-md-6">
          <mat-card class="inner-detail-card">
            <mat-card-title>
              <mat-icon fontSet="fas" fontIcon="fa-list-alt"></mat-icon>
              Product Backlog
              @if (permission(project, 'create-issue')) {
                <button style="position: relative; top: -4px" mat-icon-button color="primary" matTooltip="New Issue" (click)="createIssue()"><mat-icon>add_circle</mat-icon></button>
              }
            </mat-card-title>
            <mat-card-content>
              <sb-project-issue-list [project]="project" class="product-backlog" allIssuesAllowed="true" #productBacklog (selectIssue)="showDetail($event)"
              [fixed]="!permission(project, 'update')" [requestedIssueId]="requestedIssueId"></sb-project-issue-list>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-md-6">
          @if (selectedIssue != null) {
            <mat-card class="inner-detail-card">
              <mat-card-title>
                @switch (mode) {
                  @case ('show') {
                    <div>
                      <mat-icon class="mr-1" fontSet="fas" fontIcon="fa-eye"></mat-icon>
                      Detail
                      @if (permission(selectedIssue, 'update')) {
                        <button style="position: relative; top: -4px" mat-icon-button color="primary" matTooltip="Edit Issue" (click)="editIssue()"><mat-icon>edit</mat-icon></button>
                      }
                    </div>
                  }
                  @case ('edit') {
                    <div>
                      <mat-icon class="mr-1">edit</mat-icon>
                      Edit Issue
                    </div>
                  }
                  @case ('create') {
                    <div>
                      <mat-icon class="mr-1">add_circle</mat-icon>
                      Create Issue
                    </div>
                  }
                }
              </mat-card-title>
              <mat-card-content>
                @switch (mode) {
                  @case ('show') {
                    <sb-issue-loading-wrapper [issueId]="selectedIssue.id"></sb-issue-loading-wrapper>
                  }
                  @case ('edit') {
                    <div>
                      <sb-issue-loader [issueId]="selectedIssue.id">
                        <sb-issue-form mode="edit" (confirmEdit)="confirmEdit($event)" (cancelEdit)="cancelEdit()" (deleteIssue)="delete($event)" #issueView></sb-issue-form>
                      </sb-issue-loader>
                    </div>
                  }
                  @case ('create') {
                    <sb-issue-form mode="create" [issue]="selectedIssue" (confirmEdit)="saveNewIssue($event)" (cancelEdit)="cancelEdit()"></sb-issue-form>
                  }
                }
              </mat-card-content>
            </mat-card>
          }
        </div>
      </div>
    </app-project-frame>
  } @else {
    <mat-spinner></mat-spinner>
  }
</div>
