.project-frame-card {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 1rem;
	min-height: 90%;
	border: 1px solid var(--gray);
	box-shadow: 2px 2px 2px #bbb;
}

@media screen and (max-width: 779px) {
	.project-frame-card {
		width: 100%;
		margin-top: 0;
		height: 100%;
	}
}

.picture-input {
	width: 80%;
}

.project-picture {
	width: 32px;
}

.card-title {
	font-size: x-large;
	background-color: var(--secondary-light);
	color: var(--on-secondary-light);
	padding: 10px 0 10px 20px;
	box-shadow: 0 2px 2px var(--gray);
	font-family: var(--banner-font);
}

.card-contents {
	padding: 0px 20px 20px 20px;
}