/* You can add global styles to this file, and also import other style files */
@import 'assets/fontawesome-free-5.14.0-web/css/fontawesome.css';
/*@import '@angular/material/prebuilt-themes/indigo-pink.css';*/

:root {
	--accent-color: #9999BB;

	--link-color: #673ab7;
	--link-color-hover: #a63ab7;
	--link-color-active: #b73a89;
	
	--mdc-theme-primary: #000044;
	--mdc-theme-accent: #0F0;
}

/*.tooltip {
	opacity: 1 !important; 
	background: #000000;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/
.mat-icon-button:focus {
	outline: none;
}

/*.mat-icon.mat-primary {
	color: var(--mdc-theme-primary);
}*/

.mat-mini-fab:focus {
	outline: none;
}

.mat-button:focus {
	outline: none;
}
/*
a.disabled {
	pointer-events: none;
	cursor: default;
}

*/

.main-body {
	background-color: #FFF;
}

.mat-card {
	border-style: solid;
	border-width: 0.25px;
	border-color: var(--accent-color);
}

.app-icon {
	color: var(--accent-color);
}

.sb-link {
	color: var(--link-color) !important;
}

.sb-link:hover {
	color: var(--link-color-hover) !important;
}

.sb-link:active {
	color: var(--link-color-active) !important;
}

.user-picture {
	border-radius: 5px;
	height: 2rem;
}

.snack-bar-error {
	color: red;
}

.comments-display-box {
	height: 50vh;
	overflow-y: scroll;
	border: solid 1px;
	border-radius: 2px;
	box-shadow: 2px 2px #ddd;
	background-color: #fff;
	padding: 3px;
}

.print-frame {}

@media print {
	.no-print { display: none; }
	.print-expand { display: block; width: 100%; min-width: 100%;}
	.print-frame { display: block; width: 100%; min-width: 100%;}
}

@media screen {
	.print-frame { display: none; }
}

