/* You can add global styles to this file, and also import other style files */
@import 'assets/fontawesome-free-5.14.0-web/css/fontawesome.css';
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&family=Roboto+Mono&display=swap');*/
/*@import '@angular/material/prebuilt-themes/indigo-pink.css';*/
<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">


h1 {
	font-family: var(--banner-font);
	font-size: xx-large;
}

h2 {
	font-family: var(--banner-font);
	font-size: x-large;
}


.main-body {
	background-color: var(--background);
}

.mat-card {
	border-style: solid;
	border-width: 0.25px;
	border-color: var(--card-border);
}

.sb-link {
	color: var(--link) !important;
}

.sb-link:hover {
	color: var(--link-hover) !important;
}

.sb-link:active {
	color: var(--link-active) !important;
}

.sb-link:visited {
	color: var(--link-visited);
}

.small-button {
	padding: 0;
	border: 0;
	background-color: var(--background);
}

.sprint-banner {
	color: var(--text);
	background-color: var(--background);
}

.sprint-number {
	font-size: x-small;
	vertical-align: middle;
}

.sprint-title {
	font-size: x-large;
	vertical-align: middle;
}

.user-picture {
	border-radius: 5px;
	height: 2rem;
}

.snack-bar-error {
	color: red;
}

.comments-display-box {
	height: 50vh;
	overflow-y: scroll;
	border: solid 1px;
	border-radius: 2px;
	box-shadow: 2px 2px var(--card-shadow);
	background-color: var(--background);
	padding: 3px;
}

.warning {
	background-color: var(--warning);
}

.print-frame {}

@media print {
	.no-print { display: none; }
	.print-expand { display: block; width: 100%; min-width: 100%;}
	.print-frame { display: block; width: 100%; min-width: 100%;}
}

@media screen {
	.print-frame { display: none; }
}


.nav-color+* .mat-menu-panel {
	background-color: var(--background);
}

.active-users-color+* .mat-menu-panel {
	background-color: var(--footer-background);
}

.base-icon {
	color: var(--go-button-background);
}

.banner-text {
	font-family: var(--banner-font);
}

.base-text {
	font-family: var(--text-font);
}

.menu-text {
	font-family: var(--menu-font);
}

.menu-text-bold {
	font-family: var(--menu-font);
	font-weight: bold;
}

.user-text { 
	font-family: var(--user-font);
}

.sb-icon {
	color: var(--default-icon-color);
}

.icon-button {
	font-family: var(--menu-font);
}

.icon-button-large {
	background-color: var(--go-button-background);
	color: var(--on-primary-dark);
	box-shadow: 2px 2px var(--button-shadow);
}

.save-button {
	font-family: var(--menu-font);
	background-color: var(--go-button-background);
	color: var(--on-go-button-background) !important;
	box-shadow: 2px 2px var(--button-shadow);
}

.cancel-button {
	font-family: var(--menu-font);
	background-color: var(--on-go-button-background);
	color: var(--primary-dark) !important;
	box-shadow: 2px 2px var(--button-shadow);
}

.delete-button {
	font-family: var(--menu-font);
	background-color: var(--on-error);
	color: var(--error) !important;
	box-shadow: 2px 2px var(--button-shadow);
}

.comment-button {
	font-family: var(--menu-font);

	background-color: var(--go-button-background);
	color: var(--on-go-button-background) !important;
	box-shadow: 2px 2px var(--button-shadow);
}

.add-button {
	background-color: var(--icon-button-background);
	color: var(--on-icon-button-background) !important;
	border-radius: 5px;
	border-width: 2px;
	border-color: var(--button-border);
	border-style: solid;
	box-shadow: 2px 2px var(--button-shadow);
}

.arrow-div {
	background-color: var(--arrow-background);
	color: var(--on-arrow-background);
}

.sb-button {
}

.drag-placeholder {
  background-color: var(--drag-placeholder-background);
  border: dotted 1px var(--drag-placeholder-border);
  min-height: 40px;
  border-radius: 5px;
}

.green {
	color: var(--okay);
}

.red {
	color: var(--error);
}

.different {
	border-style: solid;
	border-width: 4px;
	border-color: var(--warning);
	border-radius: 4px;
}


.mat-form-field-label {
	font-family: var(--menu-font) !important;
	color: var(--on-background) !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
	color: var(--error);
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
	background-color: var(--on-background) !important;

	color: var(--on-background) !important;
	background-color: var(--on-background) !important;
	outline-color: green !important;
}

.mat-select-panel {
	font-family: var(--user-font) !important;
}

.mat-color-font .mat-select-value-text {
	color: var(--form-select-color);
}

.mat-select-value-text {
	color: var(--mat-select-value-text-color) !important;
}

.mat-select-arrow {
	color: var(--on-background);
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
	color: var(--form-select-color);
}

.mat-dialog-container {
	background-color: var(--background);
	border: 2px solid var(--card-border);
	border-radius: 5px;
	box-shadow: 2px 2px var(--card-shadow);
}

.mat-input-element {
	font-family: var(--user-font) !important;
	color: var(--form-select-color) !important;
}

.mat-checkbox-background {
	background-color: var(--background) !important;
	border: 1px solid var(--on-background) !important;
}

.mat-checkbox-checkmark {
	border-color: var(--on-background) !important;
}

.mat-checkbox-frame {
	border-color: var(--on-background) !important;
}

.mat-checkbox-checkmark-path {
	stroke: var(--on-background) !important;
}

.mat-button.mat-button-disabled.mat-button-disabled {
	background-color: var(--disabled-button-background);
	color: var(--on-disabled-button-background);
}

/*.mat-option.mat-active {
	color: var(--form-select-color) !important;
}*/

::-webkit-scrollbar-track
{
  background-color: var(--scrollbar-track);
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: var(--scrollbar);
}

::-webkit-scrollbar-thumb
{
  background-color: var(--scrollbar-thumb);
}

.mat-progress-bar-element {
	background-color: var(--progress-bar-element);
}

.mat-progress-bar-fill::after {
	background-color: var(--progress-bar-fill);
}

.mat-spinner svg circle {
	stroke: var(--spinner);
}


 .mat-form-field-ripple {
    background-color: var(--form-field-underline);
  }

 .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: var(--form-field-underline);
  }

  .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  	color: var(--on-background);
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
  	background-color: var(--form-field-fill);
  }

.mat-input-element {
    caret-color: var(--form-field-caret);
}


@media (max-width: 767px) {
	.large-only {
		display: none !important;
	}
}

@media (min-width: 768px) {
	.small-only {
		display: none !important;
	}
}