
@if (sprints | async) {
  <div class="scroller">
    @for (sprint of (sprints | async).sprints.list; track sprint; let i = $index) {
      <sb-sprint-loader [sprintId]="sprint.id">
        <app-sprint-card #sprintView [project]="project" (transfer)="onTransfer($event)" (selected)="onSprintSelected($event)" [showStartButton]="showStartButton && permission(sprint, 'start')" (start)="onStart($event)" [editable]="editable" (issueSelected)="onIssueSelected($event)"></app-sprint-card>
      </sb-sprint-loader>
    }
  </div>
} @else {
  <mat-spinner></mat-spinner>
}