<div class="settings-dialog" aria-describedby="User Settings" role="dialog">
	<div class="banner-text" tabindex="0" role="heading">Edit User Settings</div>
	<mat-form-field appearance="fill">
		<mat-label>Display Name</mat-label>
		<input [(ngModel)]="user.displayName" (focus)="startEditingDisplayName()" (blur)="cancelEditingDisplayName()" (keydown)="onDisplayNameKeydown($event)" matInput #displayName>
	</mat-form-field>
	<mat-form-field appearance="fill">
		<mat-label>UI Theme</mat-label>
		<mat-select [(ngModel)]="user.theme" (valueChange)="changeTheme($event)" matInput>
			<mat-option value="jmu">James Madison University</mat-option>
			<mat-option value="uchicago">University of Chicago</mat-option>
			<mat-option value="dark-bw">Black and White</mat-option>
			<mat-option value="light">Soft</mat-option>
			<mat-option value="dark">Dark</mat-option>
		</mat-select>
	</mat-form-field>
</div>