<div class="issue mb-4">
	<div class="row m-0" [ngClass]="{ 'different': issue.title_old != issue.title_new }">
		<div class="col-4 title">Title:</div>
		<div class="col-4">
			{{ issue.title_old }}
		</div>
		<div class="col-4">
			{{ issue.title_new }}
		</div>
	</div>
	<div class="row m-0" [ngClass]="{ 'different': issue.estimate_old != issue.estimate_new }">
		<div class="col-4 title">Estimate:</div>
		<div class="col-4">
			{{ issue.estimate_old }}
		</div>
		<div class="col-4">
			{{ issue.estimate_new }}
		</div>
	</div>
	<div class="row m-0" *ngIf="issue.epic_old">
		<div class="col-4 title">Epic:</div>
		<div class="col-8">
			{{ issue.epic_old.title }}
		</div>
	</div>
	<div *ngIf="issue?.acceptance_criteria.length > 0">
		<div class="row title m-0"><div class="col-12">Acceptance {{ issue?.acceptance_criteria.length > 1 ? "Criteria" : "Criterion" }}:</div></div>
		<div class="row ac m-4" *ngFor="let ac of issue.acceptance_criteria">
			<sb-acceptance-criterion-compare class="col-12 m-0 p-0" [acceptanceCriterion]="ac"></sb-acceptance-criterion-compare>
		</div>
	</div>
	<div *ngIf="issue?.acceptance_criteria_removed.length > 0">
		<div class="title">Acceptance {{ issue?.acceptance_criteria_removed.length > 1 ? "Criteria" : "Criterion" }} Removed:</div>
		<div class="row removed ac m-4" *ngFor="let ac of issue.acceptance_criteria_removed">
			<div class="col-1"></div>
			{{ ac.criterion }}
		</div>
	</div>
	<div *ngIf="issue?.acceptance_criteria_added.length > 0">
		<div class="title">Acceptance {{ issue?.acceptance_criteria_added.length > 1 ? "Criteria" : "Criterion" }} Added:</div>
		<div class="row added ac m-4" *ngFor="let ac of issue.acceptance_criteria_added">
			<div class="col-1"></div>
			{{ ac.criterion }}
		</div>
	</div>
</div>