.issue {
	background-color: var(--header-background);
	color: var(--on-header-background);
	border-style: solid;
	border-width: 1px;
}

.title {
	font-weight: bold;
}

.ac {
	background-color: var(--footer-background);
	color:  var(--on-footer-background);
}