<div class="issue mb-4">
	<div class="row m-0" [ngClass]="{ 'different': issue.title_old != issue.title_new }">
		<div class="col-4 title">Title:</div>
		<div class="col-4">
			{{ issue.title_old }}
		</div>
		<div class="col-4">
			{{ issue.title_new }}
		</div>
	</div>
	<div class="row m-0" [ngClass]="{ 'different': issue.estimate_old != issue.estimate_new }">
		<div class="col-4 title">Estimate:</div>
		<div class="col-4">
			{{ issue.estimate_old }}
		</div>
		<div class="col-4">
			{{ issue.estimate_new }}
		</div>
	</div>
	<div class="row m-0" *ngIf="issue.epic_old">
		<div class="col-4 title">Epic:</div>
		<div class="col-8">
			{{ issue.epic_old.title }}
		</div>
	</div>

	<sb-acceptance-criteria-compare-list [acceptanceCriteria]="issue?.acceptance_criteria" [acceptanceCriteriaAdded]="issue?.acceptance_criteria_added" [acceptanceCriteriaRemoved]="issue?.acceptance_criteria_removed"></sb-acceptance-criteria-compare-list>

	<div *ngIf="issue?.tasks.length > 0">
		<div class="row title m-0"><div class="col-12">Task{{ issue?.tasks.length > 1 ? "s" : "" }}:</div></div>
		<div class="row task m-4" *ngFor="let task of issue.tasks">
			<sb-task-compare [task]="task" class="col-12 m-0 p-0"></sb-task-compare>
		</div>
	</div>
	<div *ngIf="issue?.tasks_removed.length > 0">
		<div class="row title m-0"><div class="col-12">Task{{ issue?.tasks_removed.length > 1 ? "s" : "" }} Removed:</div></div>
		<div class="row removed task m-4" *ngFor="let task of issue.tasks_removed">
			<div class="col-12">
				<div class="row">
					<div class="col-4">
						Title:
					</div>
					<div class="col-8">{{task.title}}</div>
				</div>
				<div class="row">
					<div class="col-4">
						Description:
					</div>
					<div class="col-8">{{task.description}}</div>
				</div>
				<div class="row">
					<div class="col-4">
						Estimate:
					</div>
					<div class="col-8">{{task.estimate}}</div>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="issue?.tasks_added.length > 0">
		<div class="row title m-0"><div class="col-12">Task{{ issue?.tasks_added.length > 1 ? "s" : "" }} Added:</div></div>
		<div class="row added task m-4" *ngFor="let task of issue.tasks_added">
			<div class="col-12">
				<div class="row">
					<div class="col-4">
						Title:
					</div>
					<div class="col-8">{{task.title}}</div>
				</div>
				<div class="row">
					<div class="col-4">
						Description:
					</div>
					<div class="col-8">{{task.description}}</div>
				</div>
				<div class="row">
					<div class="col-4">
						Estimate:
					</div>
					<div class="col-8">{{task.estimate}}</div>
				</div>
			</div>
		</div>
	</div>
</div>