<div class="topbar"> 

  <div>
      <div *ngIf="userInfo.user | async">
        <span class="mr-3">{{(userInfo.user | async).name }}</span><a [routerLink]="'profile'">
         <img
                [src]="(userInfo.user | async).picture"
                alt="Profile picture"
                class="nav-user-profile user-picture"
                style="width: 32px;"
              /></a>
        <button class="ml-3" mat-flat-button color="primary" (click)="logout()">log out</button>
      </div>
      <div *ngIf="!(userInfo.user | async)">
        logged out.
        <button mat-button (click)="login()">log in</button>
      </div>
     <!--  <div *ngIf="loginService.status == 'error'">
        Error while logging in: {{ loginService.error }}
      </div> -->
  </div>

  <div style="position: relative; top: '4px'"><mat-icon class="app-icon" fontSet="fas" fontIcon="fa-chalkboard-teacher"></mat-icon> <h6 style="display: inline;">Scrumboard</h6></div>

  <div class="pt-1">{{syncServiceStatus}} <fa-icon [ngClass]="syncServiceStatus" [icon]="circle"></fa-icon></div>
</div>
